{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/HowItWorks.css' %}" />
{% endblock %}

{% block content %}

<div class="row spc-s">
    <div class="medium-4 column">
        <h1 class="txt-orange hdr-page medium-text-left">Grow your tutoring business</h1>
    </div>
    <div class="medium-8 column">
        <p class="featured">Whether you're new to tutoring or an established pro, listing your services on WyzAnt is the most effective way to build and manage your own successful tutoring business.</p>
    </div>
</div>

<div class="contentGrid">
			<div class="content">
				<div class="stripe">
					<div class="row hiw-video">
						
	<h2 data-expandtarget="[data-section='video']" class="txt-blue medium-hide mobile-click">
		<span>Empower students to achieve their goals</span>
	</h2>

	<div class="small-hideHeight medium-showHeight" data-section="video">
		<div class="medium-4 column center spc-med-s">
			<div class="hide medium-show">
				<img src="{% static 'images/icons/48x48/icon-bluedot_trophy.png' %}" class="hiw">
				<h2 class="txt-blue">Empower students to achieve their goals</h2>
			</div>
			<p class="spc-s">Join the WyzAnt community today</p>
			<a class="btn" href="#">Get started</a>
		</div>

		<div class="medium-8 column">
			

<a class="fancyVideo" href="http://www.youtube.com/">
	<img class="videoStill" alt="See what tutors have to say" src="{% static 'images/HowItWorks/tutor-video-still.jpg' %}">
	<p class="spc-zero"></p>
</a>
			<h3>See what tutors have to say</h3>
		</div>
	</div>

					</div>
				</div>

				<div class="row">
					
<h2 data-expandtarget="[data-section='create']" class="txt-blue medium-hide mobile-click">
    <span>Create a free profile</span>
</h2>

<div class="small-hideHeight medium-showHeight" data-section="create">
    <div class="medium-4 column center spc-med-s">
        <div class="hide medium-show">
	        <img src="{% static 'images/HowItWorks/icon-create-profile.png' %}" class="hiw">
	        <h2 class="txt-blue">Create a free profile</h2>
        </div>
	    <p class="spc-s sideSubHead">Customize your free, professional profile</p>
	    <a class="btn" href="#">Create your free profile</a>
    </div>

    <div class="medium-4 column">
        <p class="large">
	        Millions of people search online for private tutors every day. WyzAnt lets you <a href="#">create a free online profile</a> complete with pictures, videos, student reviews and more. Your profile has everything you need to showcase your qualifications and experience for potential students to review.
        </p>
    </div>

    <div class="medium-4 column center">
	    <img src="{% static 'images/HowItWorks/graphic-tutorprofile.jpg' %}">
    </div>
</div>
				</div>

				<div class="stripe">
					<div class="row">
						
<h2 data-expandtarget="[data-section='secure']" class="txt-blue medium-hide mobile-click">
    <span>Secure more students</span>
</h2>

<div class="small-hideHeight medium-showHeight" data-section="secure">
    <div class="medium-4 column center spc-med-s">
        <div class="hide medium-show">
	        <img src="{% static 'images/HowItWorks/icon-secure-students.png' %}" class="hiw">
	        <h2 class="txt-blue">Secure more students</h2>
        </div>
	    <p class="spc-s sideSubHead">WyzAnt gives you access to the most tutoring opportunities</p>
	    <a class="btn" href="#">Secure more students</a>
    </div>
    <div class="medium-8 columns">
	    <h1 class="txt-green txt-thin spc-med-s">WyzAnt's marketplace</h1>
        <div class="row">
	        <div class="medium-6 column">
		        <ul class="greenCheck">
			        <li>Every month, millions of new students and parents come to WyzAnt to find a tutor.</li>
			        <li>Tutors listed on WyzAnt have earned more than $64,000,000.</li>
			        <li>New job opportunities are posted every minute!</li>
		        </ul>
	        </div>
	        <div class="medium-6 column">
		        <div class="tutorThumb">
			        <img src="{% static 'images/HowItWorks/TQJamieZ.jpg' %}">
		        </div>
		        <p class="quote txt-lgt">"I find WyzAnt to be a brilliant way for students to find qualified tutors. As a tutor, this eliminates the tedious process of looking for a steady source of clients. WyzAnt does all the work for you. All you have to do is create a profile and students will contact you."</p>
		        <p class="quoteBy txt-lgt">- Jamie Z. &mdash; over 600 tutoring hours</p>
	        </div>
        </div>
    </div>
</div>
					</div>
				</div>

				<div class="row">
					
<h2 data-expandtarget="[data-section='manage']" class="txt-blue medium-hide mobile-click">
    <span>Manage your tutoring business</span>
</h2>

<div class="small-hideHeight medium-showHeight" data-section="manage">
    <div class="medium-4 column center spc-med-s">
        <div class="hide medium-show">
	        <img src="{% static 'images/HowItWorks/icon-manage.png' %}" class="hiw">
	        <h2 class="txt-blue">Manage your tutoring business</h2>
        </div>
	    <p class="spc-s sideSubHead">Get the tools and support you need to manage your own successful tutoring business</p>
	    <a class="btn" href="#">Build your business</a>
    </div>
    <div class="medium-8 columns">
	    <h1 class="txt-thin txt-green spc-med-s">Stay organized</h1>
        <div class="row">
	        <div class="medium-6 column">
		        <div class="bg-img-div schedule">Schedule and sync lessons with your personal calendar.</div>
		        <div class="bg-img-div reviews">Collect student ratings and reviews to feature on your tutor profile.</div>
		        <div class="bg-img-div dollar">Report and track your lesson and payment history.</div>
	        </div>

	        <div class="medium-6 column">
		        <div class="bg-img-div graph">Provide helpful lesson feedback for students and parents, and view student improvement over time.</div>
		        <div class="bg-img-div phone">WyzAnt customer support is available 7 days a week to ensure you and your students have an excellent experience.</div>
	        </div>
        </div>
    </div>
</div>
				</div>

				<div class="stripe">
					<div class="row">
						
<h2 data-expandtarget="[data-section='getPaid']" class="txt-blue medium-hide mobile-click">
    <span>Get paid</span>
</h2>

<div class="small-hideHeight medium-showHeight" data-section="getPaid">
    <div class="medium-4 column center spc-med-s">
	    <div class="hide medium-show">
            <img src="{% static 'images/HowItWorks/icon-get-paid.png' %}" class="hiw">
	        <h2 class="txt-blue">Get paid</h2>
	    </div>
        <p class="spc-s sideSubHead">WyzAnt offers fast, hassle-free payment</p>
	    <a class="btn" href="#">Sign up today</a>
    </div>

    <div class="medium-8 columns">
	    <h1 class="txt-green txt-thin spc-med-s">Hassle-free pay</h1>
        <div class="row">
	        <div class="medium-6 column">
		        <ul class="greenCheck">
			        <li>Choose your own hourly rate.</li>
			        <li>WyzAnt helps resolve billing issues and ensures you receive payment for your time.</li>
			        <li>Receive fast, easy payment from WyzAnt by direct deposit or check.</li>
			        <li>Top tutors have earned $50,000+ a year!</li>
		        </ul>
	        </div>

	        <div class="medium-6 column">
		        <div class="tutorThumb">
			        <img src="{% static 'images/HowItWorks/TQRobertoC.jpg' %}">
		        </div>
		        <p class="quote txt-lgt">"With WyzAnt, I don't need to worry about payments from my students; WyzAnt makes payment arrangements on my behalf, charges my students and deposits payment directly into my bank account."</p>
		        <p class="quoteBy txt-lgt">- Roberto C. &mdash; over 200 tutoring hours</p>
	        </div>
        </div>
    </div>
</div>

					</div>
				</div>

				<div class="stripe blue">
					<div class="row">
						<div class="column center numberBox">
							<span class="numberBox-small">Tutors listed on WyzAnt have earned more than</span>
							<span class="small-12 numberBox-big">$64,000,000</span>
						</div>
					</div>
				</div>

				<div class="row logos">
					<div class="column center">
	<img class="hide medium-show" src="{% static 'images/HowItWorks/media-logos-strip.png' %}">
	<img class="logos410 medium-hide" src="{% static 'images/HowItWorks/media-logos-strip-410.png' %}">
</div>

				</div>

				<div class="row faqs">
					<div class="medium-12 column">
						<h1 class="hdr-thin">Frequently asked questions</h1>
					</div>
					<div class="medium-6 column">
	<p data-expandtarget="[data-section='faq1']" class="txt-semibold faq-hdr">Q. How can I list my services on WyzAnt.com?</p>
	<p data-section="faq1" class="spc-med-s small-hideHeight medium-showHeight">A. Tutors on WyzAnt.com come from a variety of backgrounds and include certified teachers, industry professionals, graduate and undergraduate students and more. To get started, simply <a href="#">complete an online application</a>. A WyzAnt staff member will review your application and respond to you within 24-48 hours.</p>

	<p data-expandtarget="[data-section='faq2']" class="txt-semibold faq-hdr">Q. How much does it cost to be listed on WyzAnt.com?</p>
	<p data-section="faq2" class="spc-med-s small-hideHeight medium-showHeight">A. Listing your services on WyzAnt.com is free and unlike other marketplaces, WyzAnt does not accept payment for premium listings or top placement in the search results. WyzAnt's marketplace is fair and unbiased, making it easy for students to find the right tutor based on their individual needs.</p>

	<p data-expandtarget="[data-section='faq3']" class="txt-semibold faq-hdr">Q. Am I eligible to be a tutor on WyzAnt.com?</p>
	<p data-section="faq3" class="spc-med-s small-hideHeight medium-showHeight">A. If you’re passionate about helping students excel academically, we encourage you to <a href="#">complete an application</a>. In order for your application to be considered, you must be at least 18 years old, reside in the United States, and possess a valid Social Security Number. Tutors are not required to be certified teachers.</p>
</div>
<div class="medium-6 column">
	<p data-expandtarget="[data-section='faq4']" class="txt-semibold faq-hdr">Q. How does WyzAnt help me get new students?</p>
	<p data-section="faq4" class="spc-med-s small-hideHeight medium-showHeight">A. Millions of people visit WyzAnt.com every month in search of private tutors. Having a profile on WyzAnt makes it easy for students and parents to find and contact you through a trusted, secure marketplace. Additionally, WyzAnt will notify you of new tutoring jobs in your area every day!</p>

	<p data-expandtarget="[data-section='faq5']" class="txt-semibold faq-hdr">Q. How do I get paid?</p>
	<p data-section="faq5" class="spc-med-s small-hideHeight medium-showHeight">A. WyzAnt processes all payments, offering students discounts and flexible payment options while ensuring you receive payment for your time. After a completed lesson, simply report your time. WyzAnt will collect payment from your student, deduct WyzAnt's service fee, and issue your payment by direct deposit or check. <a href="#" class="popupInitiator wyzAjaxRegistered">Learn more about WyzAnt's service fees</a>.</p>

	<p data-expandtarget="[data-section='faq6']" class="txt-semibold faq-hdr">Q. Is this in-person or online tutoring?</p>
	<p data-section="faq6" class="small-hideHeight medium-showHeight">A. Both! You will be able to offer students in-person as well as online tutoring.</p>
	<p class="spc">Still have questions? <a href="#">View all FAQs</a>.</p>
</div>

				</div>

				<div class="row spc-s">
					<div class="large-12 column center">
						<a class="btn" href="#">Sign up today</a>
					</div>
				</div>
			</div>
		</div>

{% endblock content %}
