
ul.messagelist {
    margin: 0;
    padding: 0;
}
ul.messagelist li {
	background-color: #dfd;
    color: #666;
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 3px;
    padding: 5px 5px 4px 25px;
}
ul.errorlist {
    background: none repeat scroll 0 0 #c11;
    color: #fff;
    margin: 0 0 4px !important;
    padding: 0 !important;
}
ul.errorlist li:first-child {
    margin-top: 0;
}
ul.errorlist li {
    display: block;
    font-size: 12px !important;
    margin: 3px 0 0;
    padding: 5px 5px 4px 7px;
}

.featureBox .sectionTitle {
	background: url("../images/home/featurebox-icons.png") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
}
.carousel .pagerPrevious {
    background-image: url("../images/icons/slider-arrow-left.png");
}
.carousel .pagerNext {
    background-image: url("../images/icons/slider-arrow-left.png");
}
.displaySearchTestimonials .testimonial {
    background: url("../images/pages/search/icons/quote.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-style: italic;
    margin-top: 20px;
    padding: 0 0 0 22px;
}
.siteStats {
    background: url("../images/pages/search/stats-2014.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 124px;
    margin: 20px 0 0;
}
.searchSort {
    background: url("../images/pages/search/dropDownBg.gif") no-repeat scroll right center transparent;
    float: right;
    height: 26px;
    margin: 1em 0 0;
    overflow: hidden;
    padding: 0;
    width: 107px;
}
.srch .srch-opt-fld {
    background: url("../images/pages/search/distanceBg.gif") no-repeat scroll left center transparent;
    border: 1px solid #9db7cc;
    border-radius: 3px;
    height: 22px;
    overflow: hidden;
    padding-left: 3px;
    width: 81px;
}
.srch .srch-opt-fld:hover {
    background: url("../images/pages/search/distanceBgOn.gif") no-repeat scroll left center transparent;
}
.SimplePagerContainer .next {
    background: url("../images/pages/search/nextPage.png") no-repeat scroll 50% 50% #fff;
}
.SimplePagerContainer .last {
    background: url("../images/pages/search/lastPage.png") no-repeat scroll 50% 50% #fff;
}
.greenCheck li {
    font-weight: 400;
    line-height: 2em;
    list-style-image: url("../images/HowItWorks/icon-check.png");
    margin-bottom: 0.5em;
}
.bg-img-div.schedule {
    background-image: url("../images/HowItWorks/icon-calendar.png");
}
.bg-img-div.reviews {
    background-image: url("../images/HowItWorks/icon-student-reviews.png");
}
.bg-img-div.dollar {
    background-image: url("../images/HowItWorks/icon-dollarsign.png");
}
.bg-img-div.graph {
    background-image: url("../images/HowItWorks/icon-graph.png");
}
.bg-img-div.phone {
    background-image: url("../images/HowItWorks/icon-customer-support.png");
}